<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{ordonance.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="flex flex-wrap mb-6">
                <h1 class="grow text-3xl md:text-4xl font-medium mb-2">[[#{ordonance.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/ordonances}" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2">[[#{ordonance.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('ordonance')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='ordonance', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='ordonance', field='date', inputClass='js-datepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='ordonance', field='statue')}" />
                <div th:replace="~{fragments/forms::inputRow(object='ordonance', field='medicaments', type='multiselect')}" />
                <div th:replace="~{fragments/forms::inputRow(object='ordonance', field='doctor', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='ordonance', field='patient', type='select')}" />
                <input type="submit" th:value="#{ordonance.edit.headline}" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 mt-6" />
            </form>
        </div>
    </body>
</html>
