<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{ordonance.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="flex flex-wrap mb-6">
                <h1 class="grow text-3xl md:text-4xl font-medium mb-2">[[#{ordonance.list.headline}]]</h1>
                <div>
                    <a th:href="@{/ordonances/add}" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2">[[#{ordonance.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${ordonances.empty}">[[#{ordonance.list.empty}]]</div>
            <div th:if="${!ordonances.empty}" class="overflow-x-auto">
                <table class="w-full">
                    <thead>
                        <tr>
                            <th scope="col" class="text-left p-2">[[#{ordonance.id.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{ordonance.date.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{ordonance.statue.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{ordonance.doctor.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{ordonance.patient.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody class="border-t-2 border-black">
                        <tr th:each="ordonance : ${ordonances}" class="odd:bg-gray-100">
                            <td class="p-2">[[${ordonance.id}]]</td>
                            <td class="p-2">[[${ordonance.date}]]</td>
                            <td class="p-2">[[${ordonance.statue}]]</td>
                            <td class="p-2">[[${ordonance.doctor}]]</td>
                            <td class="p-2">[[${ordonance.patient}]]</td>
                            <td class="p-2">
                                <div class="float-right whitespace-nowrap">
                                    <a th:href="@{/ordonances/edit/{id}(id=${ordonance.id})}" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm">[[#{ordonance.list.edit}]]</a>
                                    <form th:action="@{/ordonances/delete/{id}(id=${ordonance.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm inline">
                                        <button type="submit" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm">[[#{ordonance.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
