<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{home.index.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h1 class="grow text-3xl md:text-4xl font-medium mb-8">[[#{home.index.headline}]]</h1>
            <p class="mb-12">[(#{home.index.text})]</p>
            <div class="md:w-2/5 mb-12">
                <h4 class="text-2xl font-medium mb-4">[[#{home.index.exploreEntities}]]</h4>
                <div class="flex flex-col border border-gray-300 rounded">
                    <a th:href="@{/pharmacies}" class="w-full border-gray-300 hover:bg-gray-100 border-b rounded-t px-4 py-2">[[#{pharmacie.list.headline}]]</a>
                    <a th:href="@{/medicaments}" class="w-full border-gray-300 hover:bg-gray-100 border-b px-4 py-2">[[#{medicament.list.headline}]]</a>
                    <a th:href="@{/ordonances}" class="w-full border-gray-300 hover:bg-gray-100 border-b px-4 py-2">[[#{ordonance.list.headline}]]</a>
                    <a th:href="@{/users}" class="w-full border-gray-300 hover:bg-gray-100 border-b px-4 py-2">[[#{user.list.headline}]]</a>
                    <a th:href="@{/commandes}" class="w-full border-gray-300 hover:bg-gray-100 rounded-b px-4 py-2">[[#{commande.list.headline}]]</a>
                </div>
            </div>
        </div>
    </body>
</html>
