<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{commande.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="flex flex-wrap mb-6">
                <h1 class="grow text-3xl md:text-4xl font-medium mb-2">[[#{commande.add.headline}]]</h1>
                <div>
                    <a th:href="@{/commandes}" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2">[[#{commande.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('commande')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='commande', field='date', inputClass='js-datepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='commande', field='prix')}" />
                <div th:replace="~{fragments/forms::inputRow(object='commande', field='livraison', type='checkbox')}" />
                <div th:replace="~{fragments/forms::inputRow(object='commande', field='addressLivraison')}" />
                <div th:replace="~{fragments/forms::inputRow(object='commande', field='statue', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='commande', field='pharmacie', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='commande', field='ordonance', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='commande', field='patient', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='commande', field='livreur', type='select')}" />
                <input type="submit" th:value="#{commande.add.headline}" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 mt-6" />
            </form>
        </div>
    </body>
</html>
