<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{pharmacie.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="flex flex-wrap mb-6">
                <h1 class="grow text-3xl md:text-4xl font-medium mb-2">[[#{pharmacie.list.headline}]]</h1>
                <div>
                    <a th:href="@{/pharmacies/add}" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2">[[#{pharmacie.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${pharmacies.empty}">[[#{pharmacie.list.empty}]]</div>
            <div th:if="${!pharmacies.empty}" class="overflow-x-auto">
                <table class="w-full">
                    <thead>
                        <tr>
                            <th scope="col" class="text-left p-2">[[#{pharmacie.id.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{pharmacie.nom.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{pharmacie.address.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody class="border-t-2 border-black">
                        <tr th:each="pharmacie : ${pharmacies}" class="odd:bg-gray-100">
                            <td class="p-2">[[${pharmacie.id}]]</td>
                            <td class="p-2">[[${pharmacie.nom}]]</td>
                            <td class="p-2">[[${pharmacie.address}]]</td>
                            <td class="p-2">
                                <div class="float-right whitespace-nowrap">
                                    <a th:href="@{/pharmacies/edit/{id}(id=${pharmacie.id})}" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm">[[#{pharmacie.list.edit}]]</a>
                                    <form th:action="@{/pharmacies/delete/{id}(id=${pharmacie.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm inline">
                                        <button type="submit" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm">[[#{pharmacie.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
